{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container-fluid text-center py-5">
        <div class="container px-4 py-5" id="hanging-icons">
            <div class="row g-4">
                <div class="col d-flex align-items-start">
                    <div>
                        <h2 class="mb-3 border-bottom" style="color: black; font-weight: normal; text-transform: uppercase;">Profile</h2>
                    </div>
                </div>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{user_form|crispy}}
                        {{profile_form|crispy}}
                    </div>
                    <div class="col-6">
                        {{location_form|crispy}}
                    </div>
                </div>
                <button class="btn btn-lg mt-5 btn-danger" type="submit" value="Submit">Save</button>
            </form>
        </div>
        <div class="container px-4">
            <div class="row g-4 py-5">
                <div class="col d-flex align-items-start">
                    <div>
                        <h2 class="mb-3 border-bottom" style="color: black; font-weight: normal; text-transform: uppercase;">Your Listings</h2>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <tbody>
                    {% for listing in user_listings  %}

                        <tr>
                            <td class="py-3">
                                  <a href="{% url 'listing' id=listing.id %}" style="text-decoration: none; color: black;">
                                    {{listing.id}}
                                  </a>
                            </td>
                            <td class="py-3">
                                <a href="{% url 'listing' id=listing.id %}" style="text-decoration: none; color: black;">
                                    {{listing.model}}
                                </a>
                            </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container px-4">
            <div class="row g-4 py-5">
                <div class="col d-flex align-items-start">
                    <div>
                        <h2 class="mb-3 border-bottom" style="color: black; font-weight: normal; text-transform: uppercase;">Liked Listings</h2>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <tbody>
                    {% for liked_listing in user_liked_listings  %}

                        <tr>
                            <td class="py-3" style="padding-left: 30px;">
                                <button class="text-center" style="border:none; background-color: transparent; padding-left: 20px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" viewBox="0 0 16 16" style="margin-right: 30px;">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15C-7.534 4.736 2.562-3.248 8 1.314z"/>
                                    </svg>
                                </button>
                            </td>
                            <td class="py-3">
                                <a href="{% url 'listing' id=liked_listing.listing.id %}" style="text-decoration: none; color: black;">
                                    {{ liked_listing.listing.model }}
                                </a>
                            </td>
                            <td class="py-3">{{ liked_listing.like_date }}</td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}